:root {
	--bgColor-primary: #4c6ef5;
	--bgColor-primary-muted: #edf2ff;

	--bgColor-neutral: #212529;
	--bgColor-neutral-40: #ced4da;

	--fgColor-white: #fff;
	--fgColor-black: #000;

	--bgColor-sucess: #37b24d;
	--bgColor-fail: #f03e3e;

	--bgColor-button-primary-active: #4c6ef5;
	--bgColor-button-primary-hover: #5c7cfa;
	--bgColor-button-default-active: #868e96;
	--bgColor-button-default-hover: #adb5bd;
}

body {
	font-family: "Poppins", sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	background-color: var(--bgColor-primary);
	color: var(--fgColor-white);
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.btn {
	border: 0;
	border-radius: 500px;
	color: var(--fgColor-white);
	font-weight: bold;
	padding: 10px 20px;
}

.primary-btn {
	background-color: var(--bgColor-button-primary-active);
}

.primary-btn:hover {
	background-color: var(--bgColor-button-primary-hover);
}

.default-button {
	background-color: var(--bgColor-button-default-active);
}

.default-button:hover {
	background-color: var(--bgColor-button-default-hover);
}

.add-book-btn {
	box-shadow: 0 0 0 2px var(--fgColor-white);
	transition: box-shadow 200ms ease-out;
}

.add-book-btn:hover {
	box-shadow: 0 0 0 4px var(--fgColor-white);
}

dialog {
    border: 0;
    border-radius: 20px;
	margin: auto;
	padding: 20px 20px;
}

.form-title {
    text-align: center;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

input, select {
    height: 2rem;
    background-color: var(--bgColor-neutral-40);
    border: 0;
    border-radius: 10px;
    padding: 5px;
}

.add-book-form-controls {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.add-book-form-controls > button {
    flex: 1;
    margin-top: 30px;
}

.content {
	background-color: var(--bgColor-primary-muted);
	display: grid;
	flex: 1;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	padding: 20px;
}

.book-card {
	background-color: var(--bgColor-neutral-40);
	border-radius: 20px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 10px;
	height: 20rem;
	justify-items: center;
}

.read-status {
	align-self: center;
	border-radius: 0 50px 50px 0;
	color: var(--fgColor-white);
	font-size: 0.8rem;
	justify-self: left;
	padding: 5px 20px;
}

.read-status.read {
	background-color: var(--bgColor-sucess);
}

.read-status.unread {
	background-color: var(--bgColor-fail);
}

.book-card > h1 {
	align-self: end;
	font-size: 1.5rem;
	text-align: center;
}

.book-card > h2 {
	align-self: start;
	font-size: 1rem;
	font-style: italic;
}

.footer {
	background-color: var(--bgColor-neutral);
	color: var(--fgColor-white);
	padding: 15px;
	text-align: center;
}
